.navbar,
.nav {
  background: #f5f5f5;
}

.navbar {
  border-bottom: 1px solid #e5e5e5;
}

.control:not(:last-child) {
  margin-bottom: 0;
}

.button.is-info,
.button.is-info.is-active,
.button.is-info:focus,
.button.is-info:hover {
  background: #fff;
  border: 1px solid #ddd;
  color: #767676;
}

.nav-right .icon .fa {
  font-size: 15px;
}


.box {
  background: none;
  box-shadow: none;
}

.box .level-item:not(:last-child) {
  margin-right: 3em;
}

.box .level-item .icon {
  margin-right: .3em;
  padding-top: 2px;
}

.repo article {
  padding: 2em 1em;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.repos-wrapper {
  background: #fff;
}
